{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<h1>User Details</h1>
<div id="user-details">
    <!-- User details table will be populated here -->
</div>

<script>
    // JavaScript code to fetch and display user details
    document.addEventListener("DOMContentLoaded", function () {
        var userId = {{ user_id }};

        fetch(`/api/pengguna/${userId}/`) // Assuming you have an API endpoint to fetch user details
            .then(response => response.json())
            .then(data => {
                var userDetailsDiv = document.getElementById('user-details');
                var tableHtml = `
                    <table class="table">
                        <tbody>
                            <tr>
                                <th scope="row">Email</th>
                                <td>${data.email}</td>
                            </tr>
                            <tr>
                                <th scope="row">Address 1</th>
                                <td>${data.address_1}</td>
                            </tr>
                            <tr>
                                <th scope="row">Address 2</th>
                                <td>${data.address_2}</td>
                            </tr>
                            <tr>
                                <th scope="row">City</th>
                                <td>${data.city}</td>
                            </tr>
                            <tr>
                                <th scope="row">State</th>
                                <td>${data.state}</td>
                            </tr>
                            <tr>
                                <th scope="row">Zip Code</th>
                                <td>${data.zip_code}</td>
                            </tr>
                            <tr>
                                <th scope="row">Tanggal Join</th>
                                <td>${data.tanggal_join}</td>
                            </tr>
                        </tbody>
                    </table>
                `;
                userDetailsDiv.innerHTML = tableHtml;
            })
            .catch(error => console.error('Error fetching user details:', error));
    });
</script>

{% endblock %}
