<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>
<body>
  <div class="container">
    <ul class="nav nav-tabs">

      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Master</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Set Peran</a></li>
                <li><a class="dropdown-item" href="#">Penguasaan</a></li>
                <li><a class="dropdown-item" href="#">Review</a></li>
            </ul>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'data_entry:set_pengguna' %}">Pengguna</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'data_entry:set_content' %}">Konten</a>
      </li>
    </ul>


    {% block content %}
    {% endblock %}
  </div>
</body>
</html>